<div class="card m-auto w-96 bg-base-100 shadow-xl">
  <div class="card-body">

    <!--        Input-->
    <div class="form-control">
      <div class="input-group justify-center">
        <input type="text" placeholder="Type here your task..."
               class="input input-bordered w-full"
               [(ngModel)]="todoInput" (keydown.enter)="addItem()"/>
        <button class="btn btn-square" (click)="addItem()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
               viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 4v16m8-8H4"/>
          </svg>
        </button>
      </div>
    </div>

    <!--        List-->
    <div class="form-control" *ngFor="let todoItem of todoList">
      <label class="label cursor-pointer" for="task-{{ todoItem.id }}">
        <input type="checkbox" checked="checked"
               class="checkbox checkbox-primary"
               id="task-{{ todoItem.id }}" name="task-{{ todoItem.id }}"
               [(ngModel)]="todoItem.completed" (change)="saveList()"/>

        <span class="label-text">{{ todoItem.task }}</span>

        <button class="btn btn-error btn-square btn-outline"
                (click)="removeItem(todoItem.id)">

          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
               viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </label>
    </div>


    <div class="card-actions justify-between">
      You have {{ todoList.length }} pending task(s)
      <button class="btn btn-error" (click)="clearList()">Clear All</button>
    </div>

  </div>
</div>
