li {
  list-style: none;

  input:checked + label {
    color: gray;
    &::after { width: 100%; }
  }

  label::after {
    content: '';
    width: 0;  // Before animation
    height: 2px;
    background-color: gray;

    position: absolute;
    top: 50%; left: 0;

    transition: width 300ms ease-in-out;
  }
}
